* {
  box-sizing: border-box;
}

:root {
  --dakrgrey: #2b2d42;
  --lightgrey: #8d99ae;
  --cream: #edf2f4;
  --lightred: #da2439;
  --darkred: #ef233c;
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  background-color: var(--dakrgrey);
}

h5{
  color: var(--darkred);
  font-weight: bold;
}

p{
  color: var(--cream);
}

h1
{
  color: var(--darkred);
}

.container-fluid
{
  background-color: var(--lightgrey);
  margin-top: 40px;
  margin-bottom: 40px;
  width: 90%;
  border-style: solid;
  border-color: var(--darkred);
  border-style: none solid none none;
  border-width: 20px;
  
  
}

.headings{
  color: var(--cream);
  background-color: var(--darkred);
  padding: 20px;
  border-radius: 0px 0px 100px 0px;
  width: 20%;
}


/* NAVBAR */
.navbar-brand
{
  margin-right: 10%;
  margin-left: 5%;
}

.navbar
{
  border-radius: 0px 00px 10px 10px;
}

.bg-light
{
  background-color: var(--lightgrey) !important;
}

.container a{
  color: var(--cream);
}

.container a:hover{
  color: var(--darkred);
}

/* JUMBOTRON */
.jumbotron
{
  margin-top: 20px;
  background-color: var(--lightgrey);
  padding: 100px;
}

hr
{
  visibility: hidden;
}
.btn
{
  background-color: var(--lightred);
  border-color: var(--darkred);
}

.btn:hover
{
  background-color: var(--darkred);
  border-color: var(--lightred);
}

.btn:active
{
  background-color:var(--lightred) !important;
  border-color: var(--darkred) !important;
}

#avatarimg
{
  position: absolute;
  height: 280px;
  top: 170px;
  margin-left: 60%;
}

/* WORKCARDS */


.card
{
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  height: 300px;
  margin-bottom: 20px;
  background-color: var(--dakrgrey);
  
}

.card a
{
  color: var(--darkred);
}

.card-img-top
{
  height: 165px;
}

.card-body a{
  color: var(--cream);
}

/* SKILLS */
.list-group-item
{
  background-color: var(--dakrgrey);
  color: var(--cream);
}
#skills
{
padding-top: 20px;
}

.progress
{
margin: 10px 0px 30px 0px;
}

#skills .list-group-item
{
  color: var(--cream);
  border-color: var(--dakrgrey);
  text-align: center;
  font-weight: bold;
}

.progress-bar
{
  background-color: #d90429;
}

/* ABOUT ME */
#aboutbox
{
  padding: 30px;
}
/* 
CONTACT */
.contactboxes
{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 80px;
}


.contactboxes img
{
  height: 50px;
}


.contactboxes a
{
  margin-left: 10px;
  margin-right: 10%;
  text-decoration: none;
  color: var(--darkred);
  font-size: 20px;
}


.contactboxes a:hover
{
  color: var(--cream);
}


@media only screen and (max-width: 1230px) {
  /* NAVBAR */
  .dropdown-item
  {
    margin-left: 5%;
  }

   /* JUMBO */
   .jumbotron
   {
     padding-bottom: 30px;
   }
   #avatarimg
  {
    position: relative;
    height: 280px;
    top: 0px;
    margin-left: 0%;
    margin-right: 0%;
  }

  /* WORK CARDS */

  #skills .list-group-item
  {
    font-size: 13px;
  }
  

}